body {
    background-color: black;
    max-width: 700px;
    margin: 0 auto;
    font-family: sans-serif;
}

#pacman {
    width: auto;
    display: block;
    margin: 20px auto;
}

#shim {
    font-family: 'Permanent Marker', cursive;
    position: absolute;
    visibility: hidden;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color: yellow;
}

h2 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color: yellow;
}

p {
    text-decoration: none;
    color: #0000FF;
}

.highscore {
    position: absolute;
    right: 30px;
    top: 20px;
    color: yellow;
    font-family: 'Permanent Marker', cursive;
    font-size: 14px;
    z-index: 100;
}

canvas {
    border: 2px solid red;
    width: 100px;   /* 80% von 500px */
    height: 50px;
    display: block;
}



.score {
    position: fixed;       /* Fixiert die Position relativ zum Browserfenster */
    top: 10px;             /* Abstand von oben */
    left: 10px;            /* Abstand von links */
    background-color: #f0f0f0;  /* Hellgrauer Hintergrund */
    padding: 10px 15px;    /* Innenabstand */
    border-radius: 5px;    /* Abgerundete Ecken */
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);  /* Leichter Schatten */
    z-index: 1000;         /* Damit es über anderen Inhalten liegt */
}

